<table>

        <tr>

               <td>Header</td>

        </tr>

        <tr>

               <td>Content</td>

        </tr>

        <tr>

               <td>Footer</td>

        </tr>

</table>