<head>
  <style> body { color: red; margin: 5px } </style>
</head>
<body>
<div id="elem">
  <div id="elem-content">Element</div>
</div>
<form name="my-form">
  <div class="article">Article</div>
  <div class="long article">Long article</div>
</form>

<script>
  // find by name attribute
  let form = document.getElementsByName('my-form')[0];

  // find by class inside the form
  let articles = form.getElementsByClassName('article');
  console.log(articles.length); // 2, found two elements with class "article"
</script>
<script>
  let elem = document.getElementById('elem');

  elem.style.background = 'red';
</script>
</body>