<head>
  <style> body { color: red; margin: 5px } </style>
</head>
<body><!-- comment -->
<div id="hello">Hello, world!</div>

<div id="chat">Hello, world!</div>
<script>
  let div = document.getElementByID('hello');

  // replace div.outerHTML with <p>...</p>
  div.outerHTML = '<p>A new element!</p>'; // (*)

  // Wow! The div is still the same!
  alert(div.outerHTML); // <div>Hello, world!</div>
</script>
  <script>
  let chatDiv = document.getElementByID('chat');
chatDiv.innerHTML += "<div>Hello<img src='smile.gif'/> !</div>";
chatDiv.innerHTML += "How goes?";
  </script>
</body>